.pageWrapper {
    height: 80vh;
    margin-top: 130px;
    width: 350px;
    font-family: Pretendard-variable, sans-serif;
}

.headerWrapper {
  text-align: center;
  display: flex;
}

.comment {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .profileImage {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .userInfo {
    text-align: left;
    height: 29px;
    flex-grow: 1;
    font-size: 0;
  }

  .userInfo span {
    font-size: 10px;
    font-family: Pretendard-variable, sans-serif;
    line-height: 100%;
  }

  .userInfo span:first-child {
    font-size: 12px;
    line-height: 18px;
  }
  
  .username {
    display: block;
    font-weight: bold;
  }
  
  .timestamp {
    color: #777;
    font-size: 10px;
  }
  
  .replyButton {
    width: 40px;
    height: 17px;
    font-size: 10px;
    border: none;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .replyButton:hover {
    background-color: #e1e1e1;
  }
  
  .content {
    font-size: 14px;
    line-height: 1.6;
  }

  .content span {
    width: 100%;
  }
  
  .btnWrapper {
    margin-top: 13px;
    display: flex;
    justify-content: end;
  }

  .postBtn {
    display: flex;
    margin-bottom: 20px;
            align-items: center;
            padding: 10px 7px;
            border: none;
            border-radius: 15px;
            background-color: #f8f8f8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 16px;
            font-family: Arial, sans-serif;
  }

  .replySuc {
    width: 40px;
    height: 17px;
    font-size: 10px;
    background-color: #1DB52B;
    border: none;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }