.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.formGroup {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.formGroup input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.formGroup input[type="checkbox"] {
    width: auto;
}
.btnContainer {
    text-align: center;
}
.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}